/* styles/ClubCannabico.module.css */

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container {
  font-family: 'Antonio', sans-serif;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 16rem;
  margin-bottom: 2rem;
  width: 100%;
  border: 0px solid #000;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  background-color: #fff;
  border-width: 2;
  color: #2A8500;
  line-height: 31px;
  position: relative;
}

.box1 {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.box2 {
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  background: #E5BBED;
  justify-content: center;
  padding: 7px;
}

.box2 p {
  padding-left: 15rem;
}

.box2 .circle {
  position: absolute;
  top: 20%;
  left: 7%;
  padding-right: 1rem;
  transform: translateX(-50%);
}

.box2 .square {
  position: absolute;
  top: 28%;
  left: 4%;
  padding-right: 1rem;
  transform: translateX(-50%);
}

.box2 .triangle {
  position: absolute;
  top: 15%;
  left: 10%;
  padding-right: 1rem;
  transform: translateX(-50%);
}

.box3 {
  letter-spacing: 0em;
  text-align: center;
  border-bottom: 3px solid #000;
  background: #BBEDE5;
  justify-content: center;
}

.box3 p {
  padding-top: 1rem;
  padding-left: 15rem;
  padding-right: 10rem;
}

.box3 .decoration1 {
  position: absolute;
  top: 48%;
  left: 10%;
  transform: translateX(-50%);
}

.box3 .decoration2 {
  position: absolute;
  top: 45%;
  left: 95%;
  transform: translateX(-50%);
}


.box4 {
  background: #EDE5BB;
  justify-content: center;
  padding-left: 10rem;
  padding-bottom: 3rem;
}

.box4 p {
  padding-top: 2rem;
  padding-left: 7rem;
  padding-right: 5rem;
}

.box4 .cosecha {
  position: absolute;
  top: 64%;
  left: 8%;
  transform: translateX(-50%);
}