/* ComoTeAyudamos.module.css */

.main {
  font-family: 'Antonio', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px; /* Ajusta según sea necesario */
  min-height: 100vh;
}

.comoTeAyudamosSection {
  background-color: #624fc6;
  /* Otros estilos específicos para la sección */
}

.recuadro1 {
  width: 100%;
  height: 974px;
  margin-top: 300px; /* Ajusta el margen superior según sea necesario */
  position: relative;
  border: 3px solid #000;
  color: #fff;
  background-color: #fff; /* Fondo blanco */
}

.decoracionIzquierda {
  position: absolute;
  width: 481px;
  height: 159.16px;
  top: 50%;
  left: 10%;
  margin-top: 300x; /* La mitad de la altura para centrarlo */
  border: 1px solid #000;
}

.decoracionDerecha {
  position: absolute;
  width: 20.48px;
  height: 18.17px;
  top: 50%;
  left: 90%;
  margin-top: 300px; /* La mitad de la altura para centrarlo */
  margin-left: 500px; /* La mitad del ancho para centrarlo */
  border: 2px solid #000;
}

.serviciosTitle {
  font-family: Antonio;
  font-size: 48px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  top: 40%;
  left: 20%;
}

.teAyudamosText {
  font-family: Antonio;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 20%;
}

.recuadro2,
.recuadro3 {
  width: 48%; /* Ajusta según sea necesario */
  height: 431px;
  border: 3px solid #000;
  margin-top: 20px;
  display: inline-block; /* Para que estén en la misma línea */
}

.recuadro2 {
  margin-left: 2%; /* Ajusta el margen izquierdo para separar los recuadros */
}

.recuadro3 {
  background-color: #624fc6; /* Fondo violeta */
  color: #fff;
}

.recuadro3 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.recuadro3 li {
  margin-bottom: 10px;
}

.recuadro3Text {
  font-family: Antonio;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
}

.recuadro4 {
  width: 100%;
  height: 310px;
  border: 3px solid #000;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  color: #fff;
}

.recuadro4Text {
  font-family: Antonio;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 700px) {
  .formContainer {
    max-width: 100%;
    margin-top: 150px; /* Ajusta el margen superior para centrar verticalmente */
  }

  .formContainer button {
    width: 100%; /* Ajusta el ancho del botón al 100% en dispositivos más pequeños */
  }

  .questionRow {
    flex-direction: column; /* Cambia a disposición de columna en lugar de fila para preguntas y respuestas */
  }
}
