.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  min-height: 100vh;
}

/* Mobile */
@media (max-width: 600px) {
  .content {
    padding: 1rem; /* Ajusta el padding según sea necesario */
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 20px; /* Reducción del margen */
    max-width: 100%; /* Ajusta el ancho máximo */
    text-align: center;
  }

  .card {
    padding: 0.5rem; /* Ajusta el padding según sea necesario */
  }

  .center {
    padding: 4rem 0 2rem; /* Ajusta el padding según sea necesario */
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 0.5rem; /* Ajusta el padding según sea necesario */
  }
}

/* Tablet y Desktop Pequeñas */
@media (min-width: 601px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

/* Ajustes adicionales según tus necesidades */

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* Home.module.css */
.visuallyHidden {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
