.main {
  font-family: 'Antonio', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  min-height: 100vh;
}

/* Mobile */
@media (max-width: 600px) {
  .content {
    padding: 1rem; /* Ajusta el padding según sea necesario */
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 20px; /* Reducción del margen */
    max-width: 100%; /* Ajusta el ancho máximo */
    text-align: center;
  }

  .card {
    padding: 0.5rem; /* Ajusta el padding según sea necesario */
  }

  .center {
    padding: 4rem 0 2rem; /* Ajusta el padding según sea necesario */
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 0.5rem; /* Ajusta el padding según sea necesario */
  }
}

@media (max-width: 700px) {
  .formContainer {
    max-width: 100%;
    margin-top: 150px; /* Ajusta el margen superior para centrar verticalmente */
  }

  .formContainer button {
    width: 100%; /* Ajusta el ancho del botón al 100% en dispositivos más pequeños */
  }

  .questionRow {
    flex-direction: column; /* Cambia a disposición de columna en lugar de fila para preguntas y respuestas */
  }
}

/* Home.module.css */
.visuallyHidden {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
