.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  min-height: 100vh;
}


.container {
  width: 982px;
  height: 358px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 3px solid #000;
  background: #AF27F7;
  /* Sombra Neobrutalism */
  box-shadow: 5px 4px 0px 0px #000;
  padding-left: 20px;
  margin-top: 300px;
  align-items: center;
  
}

.paragraph {
  color: #6FF727;
  font-family: Antonio;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 903.967px;
  margin: 5px;
  justify-content: center; /* Centra horizontalmente los elementos dentro del contenedor */
  align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
  
}

.tituloReprocann {
color: #6FF727;
font-family: Antonio;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;

}


.link {
  color: #4627f7a8; /* Color de enlace estándar */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  text-decoration: underline; /* Agrega subrayado para indicar que es un enlace */
}

.link:hover {
  color: #b6aafca8; /* Cambia el color cuando se pasa el mouse por encima */
}


/* Agrega estas reglas de estilo al final de tu archivo Reprocann.module.css */

@media (max-width: 640px) {

  .container {
    flex-direction: column;
    width: 80%; /* Ajusta el ancho del contenedor según tus necesidades */
    height: 250px;
   margin-top: 47rem;
   margin-bottom: 2rem;
   margin-left: 2rem;
  }

  .tituloReprocann {
    width: 10px; /* Hace que el texto ocupe todo el ancho del contenedor */
    font-size: 16px; /* Ajusta el tamaño de la fuente según tus necesidades */
  }

  .paragraph {
    width: 21rem; 
    text-align: left;
    font-size: 14px; /* Ajusta el tamaño de la fuente según tus necesidades */
    word-wrap: break-word; /* Permite que las palabras se rompan y ajusten dentro del contenedor */
    line-height: 1.5;
  }
}
